<div class="navbar bg-neutral text-neutral-content">
  <div class="navbar-start">    
    <a class="btn btn-ghost text-xl" (click)="homePage()" tabindex="0" role="button" ><span  >{{title}}</span></a>
  </div>
  <div class="navbar-end" *ngIf="!hideAddButton">
    <button class="btn btn-primary btn-sm" (click)="addUser()" routerLink="/main-user-page/create">
      <svg fill="#000000" width="20px" height="20px" viewBox="0 0 24 24" id="user" data-name="Line Color"
         class="icon line-color">
        <path id="secondary" d="M9,15h6a5,5,0,0,1,5,5v0a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1v0a5,5,0,0,1,5-5Z"
          style="fill: none; stroke: #2ca9bc; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;">
        </path>
        <circle id="primary" cx="12" cy="7" r="4"
          style="fill: none; stroke: #ffffff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></circle>
      </svg>
      Add User</button>
  </div>
</div>
<router-outlet></router-outlet>